<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servlet-curd-app</display-name>
  
<!-- 	<servlet>
		<servlet-name>index.html</servlet-name>
		<servlet-class>com.revature.AddEmployeeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>index.html</servlet-name>
		<url-pattern>AddEmployeeServlet</url-pattern>
	</servlet-mapping> -->

<!-- 	<servlet>
		<servlet-name>listservlet</servlet-name>
		<servlet-class>com.revature.ListServlet</servlet-class>
	</servlet>
 -->
<!-- 	<servlet-mapping>
		<servlet-name>listservlet</servlet-name>
		<url-pattern>/listservlet</url-pattern>
	</servlet-mapping> 
 -->
<!-- 	 <servlet>
		<servlet-name>update.html</servlet-name>
		<servlet-class>com.revature.UpdateEmployeeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>update.html</servlet-name>
		<url-pattern>/UpdateEmployeeServlet</url-pattern>
	</servlet-mapping> -->

<!-- 	<servlet>
		<servlet-name>DeleteEmployeeServlet</servlet-name>
		<servlet-class>com.revature.DeleteEmployeeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteEmployeeServlet</servlet-name>
		<url-pattern>/DeleteEmployeeServlet</url-pattern>
	</servlet-mapping>  -->
 
</web-app>