<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	 <welcome-file-list>
       <welcome-file>index.html</welcome-file>
       <welcome-file>index.htm</welcome-file>
       <welcome-file>index.jsp</welcome-file>
       <welcome-file>default.html</welcome-file>
       <welcome-file>default.htm</welcome-file>
       <welcome-file>default.jsp</welcome-file>
   </welcome-file-list>
	
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.revature.UpdateEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>com.revature.UpdateEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update</url-pattern>	
	</servlet-mapping>
	
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.revature.DeleteEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>	
	</servlet-mapping>   
	
	<servlet>
		<servlet-name>list</servlet-name>
		<servlet-class>com.revature.GetAllEmployees</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/list</url-pattern>	
	</servlet-mapping> 
  
  	<servlet>
		<servlet-name>updateTicket</servlet-name>
		<servlet-class>com.revature.UpdateTicketServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateTicket</servlet-name>
		<url-pattern>/updateTicket</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addTicket</servlet-name>
		<servlet-class>com.revature.AddTicketServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addTicket</servlet-name>
		<url-pattern>/addTicket</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteTicket</servlet-name>
		<servlet-class>com.revature.DeleteTicketServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>deleteTicket</servlet-name>
		<url-pattern>/deleteTicket</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>listTickets</servlet-name>
		<servlet-class>com.revature.ListTicketsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>listTickets</servlet-name>
		<url-pattern>/listTickets</url-pattern>
	</servlet-mapping>
	   
</web-app>
